<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel='stylesheet' href="/css/styles.css">
    <link rel='icon' href='/img/coolganny.jpg'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by coolganny. It uses data from Mapbox and Weatherstack Api's!</p>
        <img src="/img/coolganny.jpg" class="portrait"> 
    </div>
    
    {{>footer}}

</body>


</html>