<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel='stylesheet' href="/css/styles.css">
    <link rel='icon' href='/img/coolganny.jpg'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helptext}}</p>
    </div>
    
    {{>footer}}
    <!--<h1>{{title}}</h1> 
    <p>{{name}}</p>-->

</body>


</html>